
.article-illustration {
  max-width: 600px;
}

.article-illustration img {
  width : 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.image-personnalite {
  width: 100%;
  margin-right: 20px;
  border-radius: 12px;
}

.container-personnalite {
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.container-item1 {
  margin: auto;
  order: -1;
  flex-basis: 600px;
}

.container-item2 {
  text-align: justify;
  background-color: white;
  margin: 10px;
  flex-basis: 600px;
}

@media (max-width: 900px) {
  .container-personnalite {
    flex-direction: column;
  }
}

.rectangle {
  width: 165px;
  height: 165px;
  margin: 30px 468px 101px 100px;
  border-radius: 10px;
  background-color: #ffc366;
}
