/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul, ul ol, ol ol, ol ul {
	font-size: 100%;
	margin: 1rem 0 1rem 3rem;
	color: var(--text-color-softer);
}
li {
  margin-bottom: 0.5rem; }

.ressource-list {
  max-width: var(--grid-flex-max-width);
  margin: 0 auto;
  list-style-type: none;
  display : flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ressource-list > * {
  flex-basis : 320px;
  flex-grow: 1;
  flex-shrink: 0;
  background : yellow;
  border : 1px solid red;
}

.ressource-list figure {
  float: left;
}
